body{
    /*Esta será la fuente que utilizaré en todo la página*/
    background-color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*SECCIÓN CORRESPONDIENTE AL ESTILO DE LA BARRA DE NAVEGACIÓN*/
body header{
    background-color: black;
    color:white;
    text-align:center;
    width: 100%;
}
/*Código necesario para que el nav sea responsive */
@media(min-width:826px){
    body header{
        height: 200px;
        border-radius: 15px;
    }
    .menu ul{
        float: left;
        margin-left: 200px!important;
    }
    .menu ul li{
        display: inline-block;
    }
    /*Estilo del logo de la barra de navegación*/
    body header img{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 8px;
        left: 0px;
    }
}

@media(max-width:826px){
    body header{
    height: 475px;
    border-radius: 15px;
    }

    .menu ul li{
        display: block;
    }
    /*Estilo del logo de la barra de navegación*/
    body header img{
        width: 50px;
        height: 50px;
        float: left;
        margin-top: -62.5px;
    }
}

body header p{
    margin: 0px auto;
    padding-top: 60px;
    font-size: 400%;
}

.menu{
    background-color: black;
    margin-top: 8px;
}
.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu ul li a{
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px;
}


.menu ul li a:hover{
    background-color: red;
}

/***********************************************************************************************************************************************/

/*Estilo correspondiente al login*/
/*Parte necesaria para que se redimensione el login al disminuir el tamaño de la pestaña*/
@media(min-width:1317px){
    .aux{
        width: 320px;
    }
}
@media(max-width:1317px){
    .aux{
        width: 100%;
    }
}

.aux{
    height: 420px;
    background: #000;
    /*Color de la letra*/
    color: #fff;
    box-sizing: border-box;
    padding: 40px 30px;
    margin-top: 20px;
}

.aux label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    /*display block para que se vean los campos uno encima del otro*/
    display: block;
}

.aux input{
    width: 100%;
    margin-bottom: 20px;
}

.aux input[type="text"], .aux input[type="password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.aux input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.aux input[type="submit"]:hover{
    background-color:darkred; 
}
.aux h1{
    margin 0;
    padding 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.aux a{
    text-decoration: none;
    color: darkgrey;
    font-size: 12px;
    line-height: 20px;
}
/*Hover hace que al pasar el ratón por encima cambie de color*/
.aux a:hover{
    color: red;
}
/***********************************************************************************************************************************************/


/*Estilo correspondiete a la sección principal de la página*/

@media(max-width:1317px){
    .main{
        margin-top: 30%;
        padding-top:100px;
    }
    .main .row{
        margin-left: 5%;
        
    }
    .main .row .portada{
        width:250px;
        height: 425px;
    }
    .main .row .portada .foto{
        width:250px;
        height: 400px;
    }

    .main .row  #foto1{
        margin-left: 0px;
        margin-top: -420px;
    }
    .main .row  #foto2{
        margin-left: 300px;
        margin-top: -425px
    }
    .main .row  #foto3{
        margin-left: 600px;
        margin-top: -425px
    }
    .main #segunda{
        margin-top: 450px;
    }
    
    .main #tercera{
        margin-top: 450px;
    }
}

@media(max-width:450px){

    .main .row .portada .foto{
        width: 100px;
        height: 200px;
    }
    .main .row .portada{
        width:100px;
        height: 250px;
    }
    .main .row  #foto1{
        margin-left: 0px;
        margin-top: -75%;
    }
    .main .row  #foto2{
        margin-left: 105px;
        margin-top: -73%;
    }
    .main .row  #foto3{
        margin-left: 210px;
        margin-top: -73%;
    }
    .main{
        margin-top: 40%;
    }
    .main .row{
        margin-top: 0%;
        padding-left: 0%;
    }
    .main #segunda{
        margin-top: 75%;
    }
    
    .main #tercera{
        margin-top: 75%;
    }
    .main .row .portada p{
        font-size: 8px;
    }
}

@media(min-width:1317px){
    .main .row{
        margin-left: 420px;
    }
    .main .row .portada {
        width: 250px;
        height: 420px;
        padding-left: 80px;
        padding-top: 30px;
    }

    .main .row  #foto1{
        margin-left: 0px;
        margin-top: -420px;
    }
    
    .main .row  #foto2{
        margin-left: 500px;
        margin-top: -450px;
    }
    
    .main .row  #foto3{
        margin-left: 1000px;
        margin-top: -450px;
    }
    .main .row .portada .foto{
        width: 250px;
        height: 400px;
    }
    .main #segunda{
        margin-top: 450px;
    }
    
    .main #tercera{
        margin-top: 450px;
    }
}




.main .row .portada p{
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
}






/*Estilo correspondiente al pie de página*/

footer{
    background-color: #000;
    color: white;
    text-align: center;
    height: 200px;
    padding-top:100px ;
    margin:10px;
}

/***********************************************************************************************************************************************/


/*Estilo para la review*/

.review{
    margin-left: 22.5%;
    margin-top: -625px;
    padding: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding-left: 15px;
}
.review a{
    text-decoration: none;
}

.autor{
    font-weight: bold;
}

.comentario{
    text-align: justify;
}

/*Estilo para las imagenes contenidas en la review*/
@media (min-width: 1476px) {
    .marco{
        display: grid;
        float:right;
        margin-top: -130px;
    }
    .escena{
        padding: 10px;
        width: 300px;
        height: 175px;
    }
}
/*Para tablet*/
@media (max-width: 1476px) {
    .marco{
        display: flex;
        padding-left: 5%;
        padding-right: 15%;
    }
    .encp{
        text-align: center;
    }
    .escena{
        padding: 10px;
        width: 300px;
        height: 175px;
    }
}
/*Para versión móvil*/
@media(max-width: 735px){
    .marco{
        display: block;
    }
    /*Cambio el tamaño de las fotos de las escenas para que se vean correctamente en dispositivos móviles*/
    .escena{
        width: 200px;
        height: 120px;
    }
}
.marco p{
    font-size: 10px;
    text-align: center;
    margin-top: -3px;
}


/*Sección de estilo para la barra auxiliar*/
@media (min-width: 1476px) {
    .recomendaciones{
        width: 20%;
        height: 600px;
        margin-top: 20px;
        padding: 15px;
        margin-bottom: -10px;
        margin-right: 50%;
    }
    .rec{
        width: 350px;
        height: 600px;
    }
}

@media (max-width: 1476px) {
    /*Código necesario para que la parte de las portadas sea responsive*/
    .rec{
        width: 250px;
        height: 400px;
        display: block;
        margin: auto;
    }
    .recomendaciones{
        width: 100%;
        height: 400px;
    }

    .recomendaciones .encPortadas{
        display: flex;
        margin-left: 30%;
    }

    .recomendaciones .encPortadas .encPor{
        padding:10%;
    }

    #title{
        font-size: 21px;
        margin-top: 0%;
        padding-top: 3.5%;
    }
    .evento{
        display: block;
    }

    .review{
        margin-left: 0%;
        margin-top: 15%;
    }

    body{
        background-color: #000;
    }

}

@media(max-width: 735px){
    .recomendaciones{
        width: 100%;
        height: 100%;
    }
    .recomendaciones .encPortadas{
        display: block;
        margin-left: 0%;
    }
    .recomendaciones .encPortadas .encPor{
        padding:0%;
        padding-right: 3%;
    }
}

.recomendaciones{
    background-color: #000;
    border-radius: 15px;
    color: white;
    align-items: center;
}


.recomendaciones p{
    text-align: center;
}

.rec{
    display: block;
    margin: auto;
}

/************************************************************************************/
/*Sección para el estilo de los iconos de compartir*/
.share{
    float:top;
}
.share img{
    height: 20px;
    width: 20px;
}


/*************************************************************************************/
/*Boton comentar - P2*/
.review input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
}

.review input[type="submit"]:hover{
    background-color:darkred; 
}

/*Hover hace que al pasar el ratón por encima cambie de color*/
.aux a:hover{
    color: red;
}

.CajonComen{
    padding-top: 2.5%;
    visibility: hidden;
    margin-bottom: -25%;
}

.CajonComen input[type="submit"]{
    margin-top: 2%;
}

.CajonComen input{
    width: 100%;
    margin-bottom: 20px;
}

.CajonComen input[type="text"]{
    border:none;
    border-bottom: 1px solid red;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.review input[type="button"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
}

.review input[type="button"]:hover{
    background-color:darkred; 
}


.CajonComen input[type="button"]{
    margin-top: 2%;
}

@media(max-width: 1024px){
    .Comentario{
        height: 100%;
        width: 96%;
    }
}

@media(min-width: 1476px){
    .Comentario{
        height: 100%;
        width: 72.5%;
        margin-left: 22.5%;
    }
}

.Comentario{
    background-color: #fff;
    padding: 1.5%;
    margin-top: 1.5%;
    border-top: 2px solid rgb(255, 0, 0); 
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
}

#ban{
    visibility: hidden;
    background-color: #000;
}