{% extends "padre.html" %}
    {% block central %}
        <div class="evento">
            <div class="recomendaciones">
                <div class="encPortadas">
                        <div class="encPor">
                            <img src={{evento['portada']}} class="rec" />
                        </div>
                </div>
            </div>
            <div class="review">
                <h1>{{ evento['pelicula'] }}</h1>
                <h3>{{ evento['director'] }}</h3>
                <h7>{{ evento['fecha'] }}</h7>
                <!--Div que contendrá los botones para compartir e imprimir-->
                <div class="share">
                    <a href="http://www.twitter.com"><img src="img/twitter.png"/></a>
                    <a href="http://www.facebook.com"><img src="img/facebook.png"/></a>
                    <a href="evento_imprimir.html"><img src="img/imprimir.jpg"/></a>
                </div>
                {% if  usuario %}
                {% set tag = usuario.rol %}
                {% if tag != 'standard' and tag != 'moderador' %}
                    <form name="eliminar" method="post" action="modificarEvento.php">
                        <input class="editEvento" class="boton" type="submit"value="Eliminar" >
                        <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                        <input name="eliminar" type="hidden" value=1 ></input>
                    </form>
                    <br/>
                    <input class="editEvento" class="boton" type="button"value="Editar Evento" onclick="mostrarEditarEvento()" >
                {% endif %}
                {% endif %}
            <!--Div que contendrá las imágenes-->
            <div class="marco">
                {% for escena in evento['escenas'] %}
                <div class="encp">
                    <img class="escena" src= {{ escena[0] }} />
                    <p>{{ escena[1] }}</p>
                    {% if  usuario %}
                    {% set tag = usuario.rol %}
                    {% if tag != 'standard' and tag != 'moderador' %}
                        <form name="eliminar" method="post" action="eliminarEscena.php">
                        <button type="submit">
                            <img src="img/papelera.png" width="10px" height="10px"/>
                        </button>
                        <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                        <input name="idEscena" type="hidden" value={{ escena[2] }}></input>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
                <!--Sección correspondiente a la review y sinopsis de la película-->
                <p>{{ evento['review'] }}</p>
                <a href={{ evento['enlace'] }} class="fuente">Sinópsis por FILMAFFINITY</a>
                <ul>
                    {% for premio in evento['premios'] %}
                        <li>{{ premio }}</li>
                    {% endfor %}
                </ul>
                {% if  evento['criticas'] %}
                <h4>Críticas profesionales</h4>
                    {% for critica in evento['criticas'] %}
                        <p class="autor">{{critica[0]}} </p><p class="comentario">{{critica[1]}}</p>
                        {% if  usuario %}
                        {% set tag = usuario.rol %}
                        {% if tag != 'standard' and tag != 'moderador' %}
                            <form name="eliminar" method="post" action="eliminarCritica.php">
                            <button type="submit">
                                <img src="img/papelera.png" width="10px" height="10px"/>
                            </button>
                            <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                            <input name="idCritica" type="hidden" value={{critica[2]}}></input>
                            </form>
                        {% endif %}
                        {% endif %}
                    {% endfor %} 
                {% endif %} 
                {% if  usuario %}

                <br/>
                <input id="mostrarFormulario" type="submit" value="Comentar" onclick="mostrarCajonComentario()">

                <form name="formulario" class="CajonComen" method="post" action="nuevoComentario.php">
                    <input class="escondido" id = "name" name="name" type="text" value={{ usuario.user }}></input>

                    <input class="escondido" id ="email" name="idUsuario" type="text" value={{ usuario.id }}></input>

                    <label for "comentario" > Comentario </label>
                    <input id="comen" name="comentario" type="text" placeholder="Deja tu opinión sobre la película" oninput="censura()" ></input>
                    <input name="pelicula" type="hidden" value={{evento['idPelicula']}}></input>
                    <input id="publicarComentario" type="submit"  value="Publicar" > 
                </form>
                <!--Este div será en el que pondré los comentarios con javascript-->
                <div class="comentarios">
                </div>
            </div>
            
            {% set contador = 0 %}

            {% for comentario in evento['comentarios'] %}
                <div class="Comentario">
                    {% set tag = usuario.rol %}
                    {% if tag != 'standard' %}
                    <div class="botonesComen">
                        <form name="eliminar" method="post" action="eliminarComentario.php">
                            <input class="boton" type="submit"value="Eliminar" >
                            <input name="idComentario" type="hidden" value={{comentario[0]}}></input>
                            <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                        </form>
                        <input class="boton" type="button" onclick="mostrarEditar({{ contador }})" value="Editar" >

                    </div>
                    {% endif %}
                    <h3>{{comentario[1]}}</h3>
                    <p>{{comentario[2]}}</p>
                    {{comentario[3]}}
                    <br/>
                    <br/>
                    {% if comentario[4] == 1 %}
                        <i>Este comentario ha sido editado por un moderador </i>
                    {% endif %}


                    <form class="formularioModerar" name="modificar" method="post" action="modificarComentario.php"> 
                        <input class="textoModerar" type="text" name="contenido" value="{{comentario[2]}}" ></input>
                        <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                        <input name="idComentario" type="hidden" value={{comentario[0]}}></input>
                        <input class="boton" type="submit" value="Moderar" >
                    </form>
                </div>
                {% set contador = contador + 1 %}
            {% endfor %} 

            
            <!--Sección para la galería de fotos-->
            <div class="conjuntoFotos">
                {% if evento['actores'] != false %}
                    {% for actor in evento['actores'] %}
                        <div class="gallery">
                            <img src= {{ actor[0] }} width="600" height="400">
                            <div class="desc"> {{ actor[1] }}</div>
                        </div>
                    {% endfor %}
                {% endif %} 
            </div>
            {% endif %}
            <input id="ban" value="{% for b in evento['ban'] %} {{ b }}{% endfor %}" />
            
        </div>
        <div class="EditarEvento">
            <form method="post" action="modificarEvento.php" enctype="multipart/form-data">
                <label for "name"> Nombre del evento </label>
                <input name="name" type="text" value="{{ evento['pelicula'] }}"></input>
    
                <label for "director"> Nombre del director </label>
                <input name="director" type="text" value="{{ evento['director'] }}"></input>
    
                <label for "fecha"> Fecha (formato yyyy-mm-dd) </label>
                <input name="fecha" type="text" value="{{ evento['fecha'] }}"></input>
    
                <label for "review"> Review </label>
                <input name="review" type="text" value="{{ evento['review'] }}"></input>
    
                <label for "enlace"> Enlace filmaffinity </label>
                <input name="enlace" type="text" value="{{ evento['enlace'] }}"></input>
    
                <label for "portada"> Portada (Introduzca una si desea cambiarla) </label>
                <input type="file" name="portada" />
    
                <label for "premio"> Premio (Añadir un premio a la lista de premios) </label>
                <input name="premio" type="text" placeholder="¿Any award?"></input>
    
                <label for "escena"> Escena (Añadir una escena)</label>
                <input type="file" name="escena" />
    
                <label for "premio"> Pie de escena </label>
                <input name="pieEscena" type="text" placeholder="Describe the scene"></input>
    
                <label for "nombreCritico"> Nombre crític@ (Añadir una nueva crítica) </label>
                <input type="text" name="nombreCritico" placeholder="Nombre crític@"/>
    
                <label for "critica"> Critica </label>
                <input type="text" name="critica" placeholder="Valoración"/>
                <input name="eliminar" type="hidden" value=0 ></input>
                <input name="idPelicula" type="hidden" value={{evento['idPelicula']}}></input>
                <br/>
                <br/>
                <input type="submit" value="Actualizar">
            </form>
            <br/>
        </div>
{% endblock %}
