{% extends "padre.html" %}

    {% block central %}
        <div class="evento">
            <div class="recomendaciones">
                <div class="encPortadas">
                        <div class="encPor">
                            <img src={{evento['portada']}} class="rec" />
                        </div>
                </div>
            </div>
            <div class="review">
                <h1>{{ evento['pelicula'] }}</h1>
                <h3>{{ evento['director'] }}</h3>
                <h7>{{ evento['fecha'] }}</h7>
                <!--Div que contendrá los botones para compartir e imprimir-->
                <div class="share">
                    <a href="http://www.twitter.com"><img src="img/twitter.png"/></a>
                    <a href="http://www.facebook.com"><img src="img/facebook.png"/></a>
                    <a href="evento_imprimir.html"><img src="img/imprimir.jpg"/></a>
                </div>
            <!--Div que contendrá las imágenes-->
            <div class="marco">
                {% for escena in evento['escenas'] %}
                <div class="encp">
                    <img class="escena" src= {{ escena[0] }} />
                    <p>{{ escena[1] }}</p>
                </div>
                {% endfor %}
            </div>
                <!--Sección correspondiente a la review y sinopsis de la película-->
                <p>{{ review }}</p>
                <a href={{ evento['enlace'] }} class="fuente">Sinópsis por FILMAFFINITY</a>
                <ul>
                    {% for premio in evento['premios'] %}
                        <li>{{ premio }}</li>
                    {% endfor %}
                </ul>
                <h4>Críticas profesionales</h4>
                {% for critica in evento['criticas'] %}
                    <p class="autor">{{critica[0]}} </p><p class="comentario">{{critica[1]}}</p>
                {% endfor %}  

                <input type="submit" value="Comentar" onclick="mostrarCajonComentario()">

                <form name="formulario" class="CajonComen" method="post" action="nuevoComentario.php">
                    <label for "nombre" > Nombre </label>
                    <input id = "name" name="name" type="text" placeholder="Introduzca su nombre"></input>

                    <label for "email" > Email </label>
                    <input id ="email" name="email" type="text" placeholder="Introduzca su correo electrónico"></input>

                    <label for "comentario" > Comentario </label>
                    <input id="comen" name="comentario" type="text" placeholder="Deja tu opinión sobre la película" oninput="censura()" ></input>
                    <input name="pelicula" type="hidden" value={{evento['idPelicula']}}></input>
                    <input type="submit"  value="Publicar" onclick="validarComentario()"> 
                </form>
                <!--Este div será en el que pondré los comentarios con javascript-->
                <div class="comentarios">
                </div>
            </div>
            {% for comentario in evento['comentarios'] %}
                <div class="Comentario"><h3>{{comentario[0]}}</h3><p>{{comentario[1]}}</p>{{comentario[2]}}</div>
            {% endfor %} 

            <input id="ban" value="{% for b in evento['ban'] %} {{ b }}{% endfor %}" />
            
        </div>
{% endblock %}
