{% extends "padre.html" %}
    {% block enlaces %}
        <li><a href='evento.php'>Series</a></li>
        <li><a href='evento.php'>Peliculas</a></li>
        <li><a href='evento.php'>Ranking películas</a></li>
        <li><a href='evento.php'>Ranking series</a></li>
        <li><a href='evento.php'>Contacto</a></li>
    {% endblock %}
    {% block central %}
        <div class="contenido">
        <!--Código correspondiente al formulario de login-->
        <div class="aux">
            <h1>Login here</h1>
            <form>
                <label for "username"> Username </label>
                <input type="text" placeholder="Enter Username"></input>

                <label for "password"> Password </label>
                <input type="password" placeholder="Enter Password"></input>
                <!--Utilizo la etiqueta submit para los botones del login-->
                <input type="submit" value="Log In">
                <input type="submit" value="Sing Up">

                <a href="#">He olvidado mi contraseña</a>

            </form>
        </div>
        <!--En el div main va el contenido principal de la página, esta formado por tres filas (clase row)-->
        <div class="main">
            <div class="row" id="primera">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=4"><img src="img/himym.jpg" class="foto">
                    <p>Cómo conocí a vuestra madre</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=5"><img src="img/Chernobyl.jpg" class="foto">
                    <p>Chernobyl</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=6"><img src="img/dark.jpg" class="foto">
                    <p>Dark</p></a>
                </div>
            </div>
            <div class="row" id="segunda">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=2"><img src="img/padrino.jpg" class="foto">
                    <p>El padrino</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=1"><img src="img/pulp.jpg" class="foto">
                    <p>Pulp fiction</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=3"><img src="img/unodelosnuestros.jpg" class="foto">
                    <p>Goodfellas</p></a>
                </div>
            </div>
            <div class="row" id="tercera">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=7"><img src="img/Django.jpg" class="foto">
                    <p>Django</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=8"><img src="img/interstellar.jpg" class="foto">
                    <p>Interestelar</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=9"><img src="img/Origen.jpg" class="foto">
                    <p>Origen</p></a>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}
