{% extends "padre.html" %}
    {% block central %}
        <div class="contenido">
        {% if not usuario %}
        <!--Código correspondiente al formulario de login-->
        <div class="aux" id="login">
            <h1>Login here</h1>
            <form method="post" action="login.php">
                <label for "username"> Username </label>
                <input name="username" type="text" placeholder="Enter Username"></input>

                <label for "password"> Password </label>
                <input name="password" type="password" placeholder="Enter Password"></input>
                <!--Utilizo la etiqueta submit para los botones del login-->
                <input type="submit" value="Log In">
                <input type="button" value="Sing Up" onclick="mostrarRegistro()">

                <a href="#">He olvidado mi contraseña</a>

            </form>
        </div>
        
        <div class="aux" id="regForm">
            <h1>Sing up</h1>
            <form method="post" action="registro.php">
                <label for "username"> Username </label>
                <input name="username" type="text" placeholder="Enter Username"></input>

                <label for "password"> Password </label>
                <input name="password" type="password" placeholder="Enter Password"></input>

                <label for "confirm_password"> Confirm password </label>
                <input name="confirm_password" type="password" placeholder="Enter Password"></input>

                <label for "email"> Email </label>
                <input name="email" type="text" placeholder="Enter email"></input>

                <label for "phone_number"> Phone number </label>
                <input name="phone_number" type="text" placeholder="Enter phone number"></input>
                <!--Utilizo la etiqueta submit para el botón de registrarse-->
                <input type="submit" value="Sing Up" onclick="">

            </form>
        </div>
        {% else %}
                <!--Código correspondiente al formulario de login-->
                <div class="aux" id="data">
                    <h1>Bienvenido, {{ usuario.user }} </h1>
                    <form method="post" action="actualizarPerfil.php">
                        <label for "username"> Username </label>
                        <input name="username" type="text" value={{ usuario.user }}></input>
        
                        <label for "email"> Email </label>
                        <input name="email" type="text" value={{ usuario.email }}></input>
        
                        <label for "phone_number"> Phone number </label>
                        <input name="phone_number" type="text" value={{ usuario.phone }}></input>

                        <label for "rol"> Rol: {{ usuario.rol }} </label>
                        <br/>
                        <input type="submit"value="Actualizar perfil" >
                    </form>
                    
                    <form method="post" id="cerrarSesion" action="logout.php">
                        <input type="submit"value="Log out" >
                    </form>

                </div>
        {% endif %}
        <div class="container">
            {% for evento in eventos %}
            <div class="item">
                <a href="evento.php?pelicula={{ evento[0] }}"><img src={{ evento[2] }}>
                    <p>{{ evento[1] }}</p></a>
            </div>
            {% endfor %}
        </div>
        





    </div>
    {% endblock %}
