{% extends "padre.html" %}
    {% block central %}
        <div class="contenido">
        {% if not usuario %}
        <!--Código correspondiente al formulario de login-->
        <div class="aux" id="login">
            <h1>Login here</h1>
            <form method="post" action="login.php">
                <label for "username"> Username </label>
                <input name="username" type="text" placeholder="Enter Username"></input>

                <label for "password"> Password </label>
                <input name="password" type="password" placeholder="Enter Password"></input>
                <!--Utilizo la etiqueta submit para los botones del login-->
                <input type="submit" value="Log In">
                <input type="button" value="Sing Up" onclick="mostrarRegistro()">

                <a href="#">He olvidado mi contraseña</a>

            </form>
        </div>
        
        <div class="aux" id="regForm">
            <h1>Sing up</h1>
            <form method="post" action="registro.php">
                <label for "username"> Username </label>
                <input name="username" type="text" placeholder="Enter Username"></input>

                <label for "password"> Password </label>
                <input name="password" type="password" placeholder="Enter Password"></input>

                <label for "confirm_password"> Confirm password </label>
                <input name="confirm_password" type="password" placeholder="Enter Password"></input>

                <label for "email"> Email </label>
                <input name="email" type="text" placeholder="Enter email"></input>

                <label for "phone_number"> Phone number </label>
                <input name="phone_number" type="text" placeholder="Enter phone number"></input>
                <!--Utilizo la etiqueta submit para el botón de registrarse-->
                <input type="submit" value="Sing Up" onclick="">

            </form>
        </div>
        {% else %}
                <!--Código correspondiente al formulario de login-->
                <div class="aux" id="data">
                    <h1>Bienvenido, {{ usuario.user }} </h1>
                    <form method="post" action="actualizarPerfil.php">
                        <label for "username"> Username </label>
                        <input name="username" type="text" value={{ usuario.user }}></input>
        
                        <label for "email"> Email </label>
                        <input name="email" type="text" value={{ usuario.email }}></input>
        
                        <label for "phone_number"> Phone number </label>
                        <input name="phone_number" type="text" value={{ usuario.phone }}></input>

                        <label for "rol"> Rol: {{ usuario.rol }} </label>
                        <br/>
                        <input type="submit"value="Actualizar perfil" >
                    </form>
                    
                    <form method="post" action="logout.php">
                        <input type="submit"value="Log out" >
                    </form>

                </div>
        {% endif %}
        <!--En el div main va el contenido principal de la página, esta formado por tres filas (clase row)-->
        <div class="main">
            <div class="row" id="primera">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=4"><img src="img/himym.jpg" class="foto">
                    <p>Cómo conocí a vuestra madre</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=5"><img src="img/Chernobyl.jpg" class="foto">
                    <p>Chernobyl</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=6"><img src="img/dark.jpg" class="foto">
                    <p>Dark</p></a>
                </div>
            </div>
            <div class="row" id="segunda">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=2"><img src="img/padrino.jpg" class="foto">
                    <p>El padrino</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=1"><img src="img/pulp.jpg" class="foto">
                    <p>Pulp fiction</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=3"><img src="img/unodelosnuestros.jpg" class="foto">
                    <p>Goodfellas</p></a>
                </div>
            </div>
            <div class="row" id="tercera">
                <div class="portada" id="foto1">
                    <a href="evento.php?pelicula=7"><img src="img/Django.jpg" class="foto">
                    <p>Django</p></a>
                </div>
                <div class="portada" id="foto2">
                    <a href="evento.php?pelicula=8"><img src="img/interstellar.jpg" class="foto">
                    <p>Interestelar</p></a>
                </div>
                <div class="portada" id="foto3">
                    <a href="evento.php?pelicula=9"><img src="img/Origen.jpg" class="foto">
                    <p>Origen</p></a>
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}
