{% extends "padre.html" %}
{% block central %}
{% set contador = 0 %}

{% for evento in eventos %}
    <div class="ComentarioModerador" >
        <a href="evento.php?pelicula={{ evento[0] }}">
            <p>{{ evento[1] }}</p></a>
            {% if evento[3] == 0 %}
                <p>Visibilidad: Público</p>
            {% else %}
                <p>Visibilidad: Privado</p>
            {% endif %}
            <form name="cambiarVisibilidad" method="post" action="paginaListarEventos.php">
                <input class="editEvento" class="boton" type="submit"value="Cambiar Visibilidad" >
                <input name="idPelicula" type="hidden" value={{evento[0]}}></input>
                <select name="visibilidad">
                    <option>Público</option>
                    <option>Privado</option>
                </select>
            </form>
    </div>

{% endfor %} 

{% endblock %}